<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personne Management System</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Gestion de Personnes</h1>
		<hr>
		<h2>Ajouter une Personne</h2>
		<form action="#" th:action="@{/savePersonne}" th:object="${personne}" method="POST">
		    <input type="text" th:field="*{prenom}" placeholder="Prenom*" class="form-control mb-4 col-4" required>
			<input type="text" th:field="*{nom}" placeholder="Nom*" class="form-control mb-4 col-4" required>
			<input type="text" th:field="*{email}" placeholder="Mail*" class="form-control mb-4 col-4" required>
			<input type="text" th:field="*{telephone}" placeholder="Telephone" class="form-control mb-4 col-4">
			<input type="text" th:field="*{note}" placeholder="Note" class="form-control mb-4 col-4">
			<input type="text" th:field="*{departement}" placeholder="Departement" class="form-control mb-4 col-4">
			<input type="date" th:field="*{dateDeNaissance}" placeholder="Date de naissance" class="form-control mb-4 col-4">
			<label>*champs obligatoires</label><br>
			<button type="submit" class="btn btn-info col-2">Enregistrer</button>
		</form>
	</div>

</body>
</html>